body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-card {
    height: 500px;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 18px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    box-shadow: 0 0 10px hsl(0, 0%, 80%);
}

.qr-card img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.qr-card h1 {
    font-weight: bold;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    padding: 10px 25px;
}

.qr-card p {
    color: hsl(220, 15%, 55%);
    padding: 0 25px;
    font-size: 16px;
}